/*  your css code here. If applicable */
body{
	background-color:#cccc;
}
h1,h2,h3{
	text-align:center;
	
}
.player_one{
	list-style:none;
	background-color:white;
	
	
}
.player_two{
	
	border:3px solid black
	
}
a{
	text-decoration:none;
}
#player{
	background-color:white;
	text-align:center;
	border:3px solid green;
	margin-left: 50px;
	margin-right: 50px;
	
	
}
li{
	list-style:none;
}

