/*  your css code here. If applicable */
body{
	background-color:#cccc;
}
h1,h2,h3{
	text-align:center;
	
}
ul{
	list-style:none;
	background-color:white;
	
	
}
ul li{
	text-decoration:none;
}
#player{
	background-color:white;
	text-align:center;

}